:root {
    --blue: #0084FD;
    --azure: #B5DDFF;
    --purple: #9792E4;
    --txt-color-primary: #5A6E7F;

    /* margin/padding/spacer/gap  */
    --height-header: 4.65rem;
    --section-spacer: 5rem;
    --gap-flex: 1.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    margin-top: calc(var(--height-header) + 4rem);
}

/* -------- GENERAL STYLES --------- */
a {
    text-decoration: none;
}

img {
    width: 100%;
}

p {
    color: var(--txt-color-primary);
    line-height: 2;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--txt-color-primary);
}

h4 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.85rem;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.container-sml {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.section-spacer {
    margin-bottom: var(--section-spacer);
}

/* ------------ HEADER -------------- */
.header__nav {
    background-color: var(--blue);
    position: fixed;
    height: var(--height-header);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__nav-desktop {
    display: none;
}

.header__nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__nav-mobile {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 811px) {
    .header__nav .container .header__nav-desktop {
        display: flex;
        column-gap: 1rem;
        list-style: none;
    }
    
    .header__link {
        color: white;
        padding: 1rem .5rem;
    }
    
    .header__link:hover {
        text-decoration: underline;
    }
    
    .header__link.btn-header {  /* button header  */
        background-color: white;
        color: black;
        padding: .5rem 1rem;
        border-radius: 30px;
        white-space: nowrap;
        transition-duration: .2s;
    }
    
    .header__link.btn-header:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-decoration: none;
    }

    .header__nav-mobile {
        display: none;
    }
}

/* ---------- SECTION APP ------------ */

/* ---- card big ---- */
.app .container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-flex);
}

.app__card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--azure);
    padding: 1.5rem;
    border-radius: 20px;
}

.app__card.card__big {
    padding-bottom: 0;
    border: none;
}

.app__card__title {
    color: var(--blue);
    margin-bottom: 1.5rem;
}


.app__card__text {
    margin-bottom: 2rem;
    font-weight: 600;
}

.app__card__button {
    background-color: var(--blue);
    display: block;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: .8rem;
    border-radius: 30px;
    max-width: 230px;
    margin-bottom: 2rem;
    transition-duration: .2s;
}

.app__card__button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app__card__button .fa-apple {
    margin-right: .5rem;
}

.app__card__img {
    max-width: 450px;
    margin-bottom: -.2rem;
}

/* ---- card small ----- */
.app__card.card__small {
    align-items: center;
 }
 
 .app__card.card__small i {  
    color: var(--blue);
    font-size: 80px;
    margin-bottom: 1.5rem;
}

.app__card.card__small .app__card__text {
    text-align: center;
    margin-bottom: 0;
}

/********** 
NON HO DATO QUESTO LAYOUT A PARTIRE DA UNA DIMENSIONE COSI PICCOLA PERCHÈ È DAVVERO ORRIBILE!
HO PREFERITO INVECE RIEMPIRE CON L'IMMAGINE LO SPAZIO A SINISTRA DELLA "CARD" FINO AGLI 811PX, DOVE POI CAMBIA 
**********/

@media screen and (min-width: 376px) {
    /* .app__card.card__big {
        flex: 1 1 calc((2 / 3) * 100% - var(--gap-flex));
    }

    .app__card.card__small {
        flex: 1 1 calc((1 / 3) * 100% - var(--gap-flex));
    } */

    .app__card__img {
        align-self: flex-end;
    }
} 

@media screen and (min-width: 811px) {
    .app__card.card__big {
        flex: 1 1 calc((2 / 3) * 100% - var(--gap-flex));
    }

    .app__card.card__small {
        flex: 1 1 calc((1 / 3) * 100% - var(--gap-flex));
    }

    .app__card.card__big {
        flex-direction: row;
    }

    .app__card__img {
        flex: 1 0 50%;
        align-self: flex-end;
    }
}

/* ------------ SECTION STRATEGY -------------- */
section.strategy {
    background-color: var(--purple);
    padding: 4rem 0;
}

.strategy .container-sml {
    display: flex;
    flex-direction: column;
    gap: var(--gap-flex);
}

.strategy__img {
    /* max-width: 450px; */
    margin-bottom: 3rem;
}

.strategy__title {
    color: white;
    margin-bottom: 2rem;
}

.strategy__text {
    color: white;
}

.strategy__card {
    background-color: #fff;
    border-radius: 40px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strategy__card__img {
    /* max-width: 450px; */
    margin-bottom: 1rem;
}

.strategy__card__title, .strategy__card__text {
    text-align: center;
}

.strategy__card__text {
    margin: 1rem 0;
    font-style: italic;
}

.strategy__card__button {
    background-color: var(--purple);
    color: white;
    padding: 1rem 1.2rem;
    border-radius: 100%;
}

@media screen and (min-width: 376px) {
    .strategy__title {
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 811px) {
    .strategy .container-sml {
        flex-direction: row;
        justify-content: center;
        gap: calc(var(--gap-flex) + 2rem);
    }

    .strategy__plan {
        flex-basis: 50%;
    }

    .strategy__img {
        max-width: 400px;
        margin-bottom: 5rem;
    }

    .strategy__title {
        font-size: 2.25rem;
        margin-bottom: 3rem;
    }

    .strategy__card{
        align-self: flex-end;
        flex-basis: 50%;
    }

    .strategy__card__img {
        max-width: 250px;
    }
}

/* --------- TESTIMONIAL SECTION --------- */
.testimonials .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__subtitle {
    margin-bottom: 2rem;
}

.testimonials__title {
    color: var(--purple);
    text-align: center;
    margin-bottom: 2rem;
}

.testimonials__text {
    text-align: center;
    margin-bottom: 2rem;
}

.testimonials__column {
    display:flex;
    flex-direction: column;
    row-gap: var(--gap-flex);
}

.testimonials__cards {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 40px;
}

.testimonials__img {
    max-width: 200px;
}

.testimonials__img img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.testimonials__quote {
    color:white;
    text-align: center;
    margin-bottom: 1rem;
}

.testimonials__quote::before {
    content: '\275D ';
    font-size: 20px;
}

.testimonials__quote::after {
    content: ' \275E';
    font-size: 20px;
}

.testimonials__name {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 769px) {
    .testimonials__cards {
        flex-direction: row;
        gap: var(--gap-flex);
    }

    .testimonials__img {
        margin-right: 1.5rem;
    }

    .testimonials__quote, .testimonials__name {
        text-align: left;
    }
}